// Color Variables
$primary-color: #FF3A44;
$secondery-color :#ffbd2f;
$tertiary-color: #0B4C61;
$text-color: #888888;
$text-bg-color: #0C5F79;
$text-bg-primary: #0489CA;
$para-color:#C6C6C6;
$border-color:#196781;
$white: #fff;
$drck: #000;


// Font Variables
$primary-font: 'Poppins',
sans-serif;