@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

a,
a:hover,
a:focus {
  text-decoration: none; }

a,
button {
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease; }
  a:focus,
  button:focus {
    outline: 0; }

section {
  padding-top: 100px; }

.btn:hover {
  background: #ffbd2f !important;
  -webkit-transform: scale(0.95);
          transform: scale(0.95); }

.border-bottom {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #196781 !important; }

.border-top {
  width: 80%;
  height: 1px;
  border-top: 1px solid #196781 !important; }

.bg-tertiary {
  background-color: #0B4C61 !important; }

.bg-tertiary-light {
  background-color: #0d5a73 !important; }

.rounded-4 {
  border-radius: 45px !important; }

.rounded-3 {
  border-radius: 16px !important; }

/*  typography */
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #888888;
  overflow-x: hidden; }

p,
.paragraph {
  font-weight: 400;
  color: #888888;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000; }

h1,
.h1 {
  font-size: 46px;
  font-weight: 700; }

h2,
.h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3; }

@media (max-width: 575.98px) {
  h2 {
    font-size: 22px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  h2 {
    font-size: 28px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h2 {
    font-size: 34px; } }
h3,
.h3 {
  font-size: 22px; }

h4,
.h4 {
  font-weight: 400;
  font-size: 18px; }

h5,
.h5 {
  font-weight: 400;
  font-size: 17px; }

h6,
.h6 {
  font-size: 16px; }

.fixd-manu {
  position: fixed !important;
  width: 100%;
  z-index: 999; }

.fixd-manu ul li a {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.fixd-manu .btn {
  margin-top: 0px; }

.navigation .navbar {
  background: #fff; }
  .navigation .navbar ul li {
    margin-right: 40px; }
    .navigation .navbar ul li a {
      padding: 40px 0;
      display: inline-block;
      color: #888888;
      position: relative;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.2;
      color: #333333;
      transition: all linear .3s;
      -webkit-transition: all linear .3s;
      -moz-transition: all linear .3s;
      -ms-transition: all linear .3s;
      -o-transition: all linear .3s; }
      .navigation .navbar ul li a::after {
        position: absolute;
        content: "";
        left: 50%;
        bottom: 100%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: #0B4C61;
        width: 100%;
        height: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all linear .1s;
        -webkit-transition: all linear .1s;
        -moz-transition: all linear .1s;
        -ms-transition: all linear .1s;
        -o-transition: all linear .1s; }
      .navigation .navbar ul li a:hover::after {
        height: 11px; }
      .navigation .navbar ul li a:hover {
        color: #0B4C61; }
    .navigation .navbar ul li .active::after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 100%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #0B4C61;
      width: 100%;
      height: 11px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: .4s;
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -ms-transition: .4s; }
  .navigation .navbar .btn {
    background: #FF3A44;
    border: 0;
    border-radius: 50px;
    padding: 14px 25px;
    -webkit-transition: .4s;
    transition: .4s;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: .4s; }

@media (max-width: 575.98px) {
  .navigation button {
    font-size: 35px;
    background: #0B4C61;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px; }
  .navigation .navbar {
    padding-bottom: 0 !important; }
    .navigation .navbar ul {
      text-align: center;
      padding: 40px;
      background: #0B4C61; }
      .navigation .navbar ul li {
        margin-right: 0; }
        .navigation .navbar ul li a {
          color: #fff !important;
          padding-bottom: 10px !important; }
          .navigation .navbar ul li a:hover {
            color: #ffbd2f !important; }
        .navigation .navbar ul li .active {
          color: #ffbd2f !important; }
        .navigation .navbar ul li a::after {
          display: none; }
  .navigation .btn {
    margin-bottom: 20px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  .navigation button {
    font-size: 35px;
    background: #0B4C61;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px; }
  .navigation .navbar {
    padding-bottom: 0 !important; }
    .navigation .navbar ul {
      text-align: center;
      padding: 40px;
      background: #0B4C61; }
      .navigation .navbar ul li {
        margin-right: 0; }
        .navigation .navbar ul li a {
          color: #fff !important;
          padding-bottom: 10px !important; }
          .navigation .navbar ul li a:hover {
            color: #ffbd2f !important; }
        .navigation .navbar ul li .active {
          color: #ffbd2f !important; }
        .navigation .navbar ul li a::after {
          display: none; }
  .navigation .btn {
    margin-bottom: 20px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .navigation button {
    font-size: 35px;
    background: #0B4C61;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px; }
  .navigation .navbar {
    padding-bottom: 0 !important; }
    .navigation .navbar ul {
      text-align: center;
      padding: 40px;
      background: #0B4C61; }
      .navigation .navbar ul li {
        margin-right: 0; }
        .navigation .navbar ul li a {
          color: #fff !important;
          padding-bottom: 10px !important; }
          .navigation .navbar ul li a:hover {
            color: #ffbd2f !important; }
        .navigation .navbar ul li .active {
          color: #ffbd2f !important; }
        .navigation .navbar ul li a::after {
          display: none; }
  .navigation .btn {
    margin-bottom: 20px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navigation .navbar ul li {
    margin-right: 25px; }
  .navigation .navbar .btn {
    margin-top: 0; } }
p {
  font-weight: 400; }

.bannerbtn {
  background: #FF3A44;
  border: 0;
  border-radius: 50px;
  padding: 20px 28px;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: -5px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  transition: .4s; }

.hero-img {
  border-radius: 20px;
  position: relative; }
  .hero-img .card-img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px; }
    .hero-img .card-img-overlay .round {
      width: 112.26px;
      height: 112.26px;
      position: absolute;
      left: 49.7%;
      top: 51.5%;
      background: rgba(255, 189, 47, 0.3);
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 50%;
      text-align: center;
      line-height: 112.26px;
      border: 0; }
      .hero-img .card-img-overlay .round i {
        width: 93.26px;
        height: 93.26px;
        background: #ffbd2f;
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
        text-align: center;
        line-height: 93.26px;
        margin-top: 10px;
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all .5s;
        transition: all .5s;
        cursor: pointer; }
        .hero-img .card-img-overlay .round i:hover {
          -webkit-transform-origin: center;
                  transform-origin: center;
          -webkit-transform: scale(0.85);
                  transform: scale(0.85); }
      .hero-img .card-img-overlay .round:hover {
        -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite; }
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffbd2fbb;
            box-shadow: 0 0 0 0 #ffbd2fbb; }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(3, 168, 124, 0);
            box-shadow: 0 0 0 15px rgba(3, 168, 124, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
            box-shadow: 0 0 0 0 rgba(3, 168, 124, 0); } }
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffbd2fbb;
            box-shadow: 0 0 0 0 #ffbd2fbb; }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(3, 168, 124, 0);
            box-shadow: 0 0 0 15px rgba(3, 168, 124, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(3, 168, 124, 0);
            box-shadow: 0 0 0 0 rgba(3, 168, 124, 0); } }
.venoframe.vbvid {
  border-radius: 25px; }

.vbox-close {
  top: 20px;
  right: 20px;
  height: 50px;
  padding: 0px;
  font-size: 30px;
  background: #0B4C61 !important;
  border-radius: 50%;
  line-height: 50px; }

@media (max-width: 575.98px) {
  h1 {
    font-size: 35px;
    padding-bottom: 10; }

  .lead {
    font-size: 1rem; }

  .bannerbtn {
    padding: 13px 17px;
    font-size: 13px;
    margin-bottom: 20px; }

  .hero-img {
    margin-bottom: -80px; }
    .hero-img .card-img-overlay .round {
      width: 60px;
      height: 60px; }
      .hero-img .card-img-overlay .round i {
        width: 50px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        top: -5px;
        left: 5px;
        font-size: 16px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  h1 {
    font-size: 37px; }

  p {
    font-size: 14px; }

  .bannerbtn {
    padding: 15px 20px;
    font-size: 14px;
    margin-bottom: 20px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .bannerbtn {
    padding: 18px 25px;
    font-size: 15px;
    margin-bottom: 30px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 37px; }

  p {
    line-height: 1.3; } }
#about .h4 {
  padding: 0 70px;
  line-height: 1.8; }

#about {
  position: relative;
  padding-top: 0px !important;
  margin-top: 150px; }
  #about .svg {
    width: 100%;
    position: absolute;
    top: -78px;
    z-index: -1 !important;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%); }

.bg-color {
  background: #FF3A44 !important; }

#about .card {
  border-radius: 20px;
  padding: 45px 0 90px 0 !important; }
#about .card-title {
  font-size: 20px; }
#about .card-icon {
  position: relative;
  width: 80px;
  height: 87px;
  margin: 20px 0;
  background: #0B4C61;
  border-radius: 17px;
  color: white;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: drop-shadow(0px 8px 0px rgba(11, 75, 97, 0.4));
          filter: drop-shadow(0px 8px 0px rgba(11, 75, 97, 0.4)); }
  #about .card-icon::after {
    position: absolute;
    content: "";
    background: #0B4C61;
    width: 75%;
    height: 10px;
    left: 10px;
    top: -2.7px;
    border-radius: 50%; }
  #about .card-icon::before {
    position: absolute;
    content: "";
    background: #0B4C61;
    width: 75%;
    height: 10px;
    left: 10px;
    bottom: -2.7px;
    border-radius: 50%; }
  #about .card-icon i {
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
#about .card-body {
  padding-bottom: 0;
  padding-top: 27px; }

@media (max-width: 575.98px) {
  #about .svg {
    top: -30px; }
  #about .h4 {
    line-height: 1.3;
    font-size: 13px;
    padding: 0;
    margin-bottom: 30px; }
  #about .card {
    margin-bottom: 30px; }
    #about .card .card-title {
      font-size: 19px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  #about .svg {
    width: 100%;
    position: absolute;
    top: -40px;
    z-index: 1; }
  #about .h4 {
    font-size: 16px;
    padding: 0;
    padding-bottom: 30px; }

  .card p {
    font-size: 14px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .card p {
    font-size: 14px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card .card-title {
    font-size: 16px !important; }
  .card p {
    font-size: 13px; } }
.collaborative-workspace .block {
  width: 32%; }
  .collaborative-workspace .block .block-number {
    color: #ffbd2f;
    font-weight: 700;
    font-size: 35px; }

@media (max-width: 575.98px) {
  #catagory {
    padding-top: 50px; }

  .collaborative-workspace .block {
    width: 100%;
    margin-bottom: 10px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  .collaborative-workspace .block {
    width: 100%;
    margin-bottom: 10px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .collaborative-workspace .block {
    width: 50%;
    margin-bottom: 10px; } }
.chart-number {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  background: #0489CA;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff; }

.rounded-3:nth-child(2) .chart-number {
  background-color: #ffbd2f; }

.rounded-3:nth-child(3) .chart-number {
  background-color: #FF3A44; }

.chart-img {
  background: #0C5F79;
  padding: 30px;
  border-radius: 25px; }

@media (max-width: 575.98px) {
  #chart {
    padding-top: 50px; }
    #chart p {
      font-size: 13px;
      line-height: 1.5; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  #chart h4 {
    font-size: 16px; } }
.testimonial-right-slider p {
  font-weight: 400;
  line-height: 1.5;
  color: #C6C6C6 !important; }
.testimonial-right-slider h3 {
  font-weight: 700; }

.slick-dots {
  position: absolute;
  left: 0;
  bottom: -25px; }
  .slick-dots li {
    display: inline-block;
    margin-right: 10px; }
    .slick-dots li button {
      font-size: 0;
      background: #0D6785;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 0; }
  .slick-dots .slick-active button {
    background: #ffbd2f; }

@media (max-width: 575.98px) {
  .testimonial-right-slider {
    text-align: center; }
    .testimonial-right-slider p {
      padding-right: 0; }
    .testimonial-right-slider img {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-33%);
              transform: translateX(-33%);
      margin-bottom: 15px; }
    .testimonial-right-slider .slick-dots {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }
@media (min-width: 576px) and (max-width: 768.98px) {
  #testimonial h2 {
    font-size: 31px; }

  .testimonial-right-slider {
    text-align: center; }
    .testimonial-right-slider p {
      padding-right: 0; }
    .testimonial-right-slider img {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-33%);
              transform: translateX(-33%);
      margin-bottom: 15px; }
    .testimonial-right-slider .slick-dots {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }
@media (min-width: 769px) and (max-width: 991.98px) {
  #testimonial h2 {
    font-size: 34px; }

  .testimonial-right-slider {
    text-align: center; }
    .testimonial-right-slider p {
      padding-right: 0; }
    .testimonial-right-slider img {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-33%);
              transform: translateX(-33%);
      margin-bottom: 15px; }
    .testimonial-right-slider .slick-dots {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .testimonial-right-slider p {
    padding-right: 112px;
    font-size: 16px; } }
@media (max-width: 575.98px) {
  .team h4 {
    font-size: 23px;
    padding-bottom: 20px; }
  .team p {
    font-size: 14px;
    line-height: 1.5; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  .team h4 {
    font-size: 35px;
    padding-bottom: 20px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .team h4 {
    font-size: 35px;
    padding-bottom: 20px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .team h4 {
    font-size: 35px;
    padding-bottom: 20px; } }
footer a {
  -webkit-transition: .4s;
  transition: .4s; }
  footer a:hover {
    color: #ffbd2f !important; }
footer .list-inline a {
  display: inline-block; }
  footer .list-inline a i {
    width: 45.86px;
    height: 45.86px;
    border-radius: 50%;
    background: #fff;
    line-height: 45.86px;
    text-align: center;
    -webkit-transition: .4s;
    transition: .4s; }
    footer .list-inline a i:hover {
      background: #ffbd2f !important;
      color: #fff !important;
      padding-left: 0 !important;
      padding-right: 0 !important; }
footer .list-unstyled li a {
  -webkit-transition: .4s;
  transition: .4s; }
  footer .list-unstyled li a:hover {
    color: #ffbd2f !important; }

@media (max-width: 575.98px) {
  footer {
    text-align: center; }
    footer a {
      margin-bottom: 20px !important;
      display: inline-block; }
    footer p {
      line-height: 1.3; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  footer {
    text-align: center; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer .list-inline li {
    margin-right: 5px !important; } }

/*# sourceMappingURL=style.css.map */